.App {
  min-height: 100vh;
  background-image: linear-gradient(
    to right,
    #f3e7e9 0%,
    #e3eeff 99%,
    #e3eeff 100%
  );
}

.title {
  width: 100%;
  text-align: center;
  font-weight: bolder;
  padding: 10px;
  color: #ff9800;
  font-family: Gilroy;
  font-weight: Bolder;
}

.title2 {
  width: 100%;
  text-align: left;
  font-weight: bolder;
  padding: 10px;
  margin-top: 3%;
  margin-left: 5%;
  height: 100px;
  color: #b31e6f !important;
  font-family: Gilroy;
  font-weight: Bolder;
}

.h {
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-around;
}

.kk {
  margin-top: 10%;
  width: 50%;
  height: auto;
}

.navbar {
  padding: 30px;
}

.navbar-brand {
  font-size: 35px;
  font-weight: bold;
  font-family: Gilroy;
}

.nav-link {
  opacity: 0.8;
  font-family: Gilroy;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none !important;
}

.nav-link:hover {
  opacity: 1;
  color: #ff9800 !important;
  text-decoration: none !important;
}

hr {
  border-color: black !important;
  opacity: 0.5;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.card {
  height: 200px;
  width: 200px;
  border-width: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
  font-family: Gilroy;
  font-weight: bold;
  font-size: 25px;
}

.container-fluid {
  width: 80%;
}

p {
  text-align: center;
  align-items: center;
  top: 40%;
  position: relative;
  display: block;
  font-family: Gilroy;
  font-weight: bold;
  font-size: 25px;
}

#c1 {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  color: wheat;
  transition: 0.2s;
  box-shadow: 8px 8px 20px #5d5d5a;
  animation: mymove;
}

#c1:hover {
  background-image: linear-gradient(
    to right,
    #ff8177 0%,
    #ff867a 0%,
    #ff8c7f 21%,
    #f99185 52%,
    #cf556c 78%,
    #b12a5b 100%
  );
  transition: 0.2s;
}

#c7 {
  background-image: linear-gradient(to right, #667eea 0%, #764ba2 100%);
  color: wheat;
  transition: 0.2s;
  box-shadow: 8px 8px 20px #5d5d5a;
  animation: mymove;
}

#c7:hover {
  background-image: linear-gradient(to right, #764ba2 0%, #667eea 100%);
  transition: 0.2s;
}
#c8 {
  background-image: linear-gradient(
    to right,
    #a7a6cb 0%,
    #8989ba 52%,
    #8989ba 100%
  );
  color: wheat;
  transition: 0.2s;
  box-shadow: 8px 8px 20px #5d5d5a;
  animation: mymove;
}

.bb {
  width: 400px;
  padding: 15px;
  border-width: 0px;
  border-radius: 30px;
  background-image: linear-gradient(to right, #0250c5 0%, #d43f8d 100%);
  font-family: Gilroy;
  font-weight: bold;
  margin: 10px;
}

#c8:hover {
  background-image: linear-gradient(
    to left,
    #a7a6cb 0%,
    #8989ba 52%,
    #8989ba 100%
  );
  transition: 0.2s;
}
#c2 {
  background-image: linear-gradient(
    to right,
    #505285 0%,
    #585e92 12%,
    #65689f 25%,
    #7474b0 37%,
    #7e7ebb 50%,
    #8389c7 62%,
    #9795d4 75%,
    #a2a1dc 87%,
    #b5aee4 100%
  );
  color: wheat;
  transition: 0.2s;
  box-shadow: 8px 8px 20px #5d5d5a;
  animation: mymove;
}

#c2:hover {
  background-image: linear-gradient(
    to left,
    #505285 0%,
    #585e92 12%,
    #65689f 25%,
    #7474b0 37%,
    #7e7ebb 50%,
    #8389c7 62%,
    #9795d4 75%,
    #a2a1dc 87%,
    #b5aee4 100%
  );
  transition: 0.2s;
}

#c3 {
  background-image: linear-gradient(
    to right,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #b465da 0%,
    #cf6cc9 33%,
    #ee609c 66%,
    #ee609c 100%
  );
  color: wheat;
  transition: 0.2s;
  box-shadow: 8px 8px 20px #5d5d5a;
  animation: mymove;
}

#c3:hover {
  background-image: linear-gradient(
    to left,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #b465da 0%,
    #cf6cc9 33%,
    #ee609c 66%,
    #ee609c 100%
  );
  transition: 0.2s;
}

#c4 {
  background-image: linear-gradient(to right, #0ba360 0%, #3cba92 100%);
  color: wheat;
  transition: 0.2s;
  box-shadow: 8px 8px 20px #5d5d5a;
  animation: mymove;
}

#c4:hover {
  background-image: linear-gradient(to left, #0ba360 0%, #3cba92 100%);
  transition: 0.2s;
}

#c5 {
  background-image: linear-gradient(
    to right,
    #f78ca0 0%,
    #f9748f 19%,
    #fd868c 60%,
    #fe9a8b 100%
  );
  color: wheat;
  transition: 0.2s;
  box-shadow: 8px 8px 20px #5d5d5a;
  animation: mymove;
}

#c5:hover {
  background-image: linear-gradient(
    to left,
    #f78ca0 0%,
    #f9748f 19%,
    #fd868c 60%,
    #fe9a8b 100%
  );
  transition: 0.2s;
}

#c6 {
  background-image: linear-gradient(to right, #13547a 0%, #80d0c7 100%);
  color: wheat;
  transition: 0.2s;
  box-shadow: 8px 8px 20px #5d5d5a;
  animation: mymove;
}

#c6:hover {
  background-image: linear-gradient(to left, #13547a 0%, #80d0c7 100%);
  transition: 0.2s;
}

div {
  animation: popout 1s ease-out;
  -webkit-animation: popout 1s ease-out;
}

@keyframes popout {
  from {
    transform: scale(0);
  }

  80% {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}

@-webkit-keyframes popout {
  from {
    -webkit-transform: scale(0);
  }

  80% {
    -webkit-transform: scale(1.1);
  }

  to {
    -webkit-transform: scale(1);
  }
}

.ic2 {
  width: 20%;
  padding: 10px;
  font-family: Gilroy;
  font-weight: bold;
  font-size: 30px;
  background-image: linear-gradient(to right, #f43b47 0%, #453a94 100%);
  border-width: 0px;
  border-radius: 35px;
  color: white;
  margin: 10% auto;
  display: block;
}

.box {
  width: 90%;
  height: 80px;
  font-family: Gilroy;
  font-weight: bold;
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin: 5%;
  border-width: 0px;
  border-radius: 10px;
  box-shadow: 20px 20px 60px #cfc4c6, -20px -20px 60px #ffffff;
}

Button {
  outline: none !important;
  text-decoration: none !important;
}

Button:hover {
  text-decoration: none !important;
}

.box:hover {
  text-decoration: none !important;
}

@media (min-width: 320px) and (max-width: 480px) {
  .navbar {
    padding: 5px;
  }

  .cards {
    display: flex;
    justify-content: space-around;
  }

  .box {
    margin-top: 10%;
    margin-bottom: 10%;
    justify-content: center;
  }

  .kk {
    display: block;
    width: 150px;
    height: 55px;
  }

  #customized-dialog-title {
    font-family: Gilroy;
    font-size: 40px !important;
    font-weight: bold;
  }

  .card {
    flex: 50%;
    height: 90px;
    width: 300px;
    margin: 10px;
  }

  .bb {
    width: 90%;
    padding: 15px;
    border-width: 0px;
    border-radius: 30px;
    background-image: linear-gradient(to right, #0250c5 0%, #d43f8d 100%);
    font-family: Gilroy;
    font-weight: bold;
    margin: 10px;
  }

  .title2 {
    width: 100%;
    font-size: 30px;
    margin: 5px;
  }

  .ic2 {
    width: 80%;
    margin: 0px auto;
    display: block;
    margin-top: 10%;
  }
}
